div[class="mdl-links"]::before {
    white-space: pre;
    content: "日本語化+2段化+α CSS v1.4.1 by Akaaku\A";
    font-size: 1em;
    color: #8899a6;
}

/* カラムを畳んだときの幅をギリギリに */
html .app-content section.btd-column-collapsed.column {
    width: 22px!important;
}

/* tweetdeck 2段 */
/* 1段目高さ */
section.js-column.column.will-animate {
    height: calc(60% - 5px) !important;
    margin: 0 !important;
}

/* 2段目高さ */
section.js-column.column.will-animate:nth-child(even) {
    height: calc(40% - 5px) !important;
}

.js-app-columns.app-columns.horizontal-flow-container.without-tweet-drag-handles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 5px;
}
/* end */

/* ツイート本文の大きさ */
div[class="tweet-body js-tweet-body"] {
    font-size: 0.95rem;
}

/* ユーザー名の大きさ */
b[class="fullname link-complex-target"] {
    font-size: 12px;
}

/* カラムのスクロールバー幅の調整 */
div[class="js-column-content column-content flex-auto position-rel flex flex-column height-p--100"] > * {    scrollbar-width: thin !important;
}

/* Webkitブラウザ用の縦スクロールバーの幅の調整 */
::-webkit-scrollbar:vertical {
    width: 12px !important;
}

/* 横スクロールバーの高さはそのままにする */
::-webkit-scrollbar:horizontal {
    height: auto;
}

/* 背景 */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
    background-color: #213242;
    border-radius: 12px;
    /* border: solid 3px #fff; */
}

/* 取っ手 */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #8c8992;
    border-radius: 12px;
}

/* ホバー時の取っ手 */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #61636c;
}

/* 横向きのスクロールバー */
::-webkit-scrollbar:horizontal {
    overflow-x: scroll !important;
    /* 常に横のスクロールバーを表示 */
}

/* end */
/* 変なスクロールバー消す */
html.dark .antiscroll-inner {
    overflow: hidden!important;
}

/* コラム名小さくする */
header[class^="js-column-header js-action-header flex-shrink--0 column-header"] {
    height: 20px!important;
    align-items: center!important;
    background-color: #1c3247!important;
    border-radius: 10px!important;
}

i[class^="pull-left margin-l--10 margin-r--2 column-type-icon icon"] {
    margin-top: -28px!important;
}
/* end */
/* 通知の列、背景を変える */
/* キー移動のハイライトが消えるので廃止 */
/*section[data-column-type="col_interactions"]  article {
    background-color: #1c2b39!important;
}
*/
/* ボタンの大きさ */
.dm-action .icon,
.dm-action .Icon,
.tweet-action .icon,
.tweet-action .Icon,
.tweet-detail-action .icon,
.tweet-detail-action .Icon {
    display: block;
    font-size: 25px;
}

html.dark .dm-action .icon,
html.dark .dm-action .Icon,
html.dark .tweet-action .icon,
html.dark .tweet-action .Icon,
html.dark .tweet-detail-action .icon,
html.dark .tweet-detail-action .Icon {
    display: block;
    font-size: 25px;
}

/* ドロップダウンメニューがはみ出さないように */
.js-dropdown-content a::before {
    font-size: 10.5px;
}

/* 返信のボックス色 */
html.dark .bg-color-twitter-white {
    background-color: #15202b !important;
    color: #fff;
}

html.dark .compose-text-container {
    background-color: #15202b;
}


/* いろいろ日本語化 */
span.column-heading {
    font-size: 0;
}

/* リスト無効 */
section[data-column-type="col_list"] span[class="column-heading"] {
    font-size: 14px;
}

section[data-column-type="col_timeline"] span[class="column-heading"]:before {
    content: "ホーム";
    font-size: 14px;
}

section[data-column-type="col_interactions"] span[class="column-heading"]:before {
    content: "通知";
    font-size: 14px;
}

section[data-column-type="col_usertweets"] span[class="column-heading"]:before {
    content: "ユーザー";
    font-size: 14px;
}

section[data-column-type="col_messages"] span[class="column-heading"]:before {
    content: "DM";
    font-size: 14px;
}

section[data-column-type="col_trends"] span[class="column-heading"]:before {
    content: "トレンド";
    font-size: 14px;
}

section[data-column-type="col_favorites"] span[class="column-heading"]:before {
    content: "いいね";
    font-size: 14px;
}

section[data-column-type="col_mentions"] span[class="column-heading"]:before {
    content: "メンション";
    font-size: 14px;
}

section[data-column-type="col_followers"] span[class="column-heading"]:before {
    content: "フォロワー";
    font-size: 14px;
}

section[data-column-type="col_scheduled"] span[class="column-heading"]:before {
    content: "予約ツイート";
    font-size: 14px;
}

section[data-column-type="col_inbox"] span[class="column-heading"]:before {
    content: "DM(全アカウント)";
    font-size: 14px;
}

section[data-column-type="col_me"] span[class="column-heading"]:before {
    content: "メンション(全アカウント)";
    font-size: 14px;
}

section[data-column-type="col_activity"] span[class="column-heading"]:before {
    content: "アクティビティ";
    font-size: 14px;
}


div[class="nbfc txt-line-height--20 flex-auto padding-b--2"] {
    font-size: 0px;
}

div[class="nbfc txt-line-height--20 flex-auto padding-b--2"] > a {
    font-size: 12.5px;
}

article[data-key*="favorite_"] div[class="nbfc txt-line-height--20 flex-auto padding-b--2"]:after {
    content: "さんがあなたのツイートをいいねしました";
    font-size: 12px;
    color: #fff;
    position: relative;
    left: 0em;
}

article[data-key*="retweet_"] div[class="nbfc txt-line-height--20 flex-auto padding-b--2"]:after {
    content: "さんがあなたのツイートをリツイートしました";
    font-size: 12px;
    color: #fff;
    position: relative;
    left: 0em;
}

article[data-key*="favorited_retweet_"] div[class="nbfc txt-line-height--20 flex-auto padding-b--2"]:after {
    content: "さんがあなたのリツイートをいいねしました";
    font-size: 12px;
    color: #fff;
    position: relative;
    left: 0em;
}

article[data-key*="retweeted_retweet_"] div[class="nbfc txt-line-height--20 flex-auto padding-b--2"]:after {
    content: "さんがあなたのリツイートをリツイートしました";
    font-size: 12px;
    color: #fff;
    position: relative;
    left: 0em;
}

div[class="nbfc txt-line-height--20 flex-auto padding-b--2"] {
    line-height: 1.35!important;
}

/* */
div[class="prf-actions"] button[class="action-text follow-text btn-on-dark"] span {
    color: transparent;
}

div[class="prf-actions"] button[class="action-text follow-text btn-on-dark"] span:before {
    content: "フォローする";
    font-size: 1em;
    color: #1da1f2;
    position: relative;
    left: 0em;
}

div[class="prf-actions"] button[class="action-text Button--primary following-text"] {
    color: transparent;
}

div[class="prf-actions"] button[class="action-text Button--primary following-text"]:before {
    content: "フォロー中";
    font-size: 1em;
    color: #fff;
    position: relative;
    left: 0em;
}

div[class="prf-actions"] button[class="js-action-unfollow action-text unfollow-text"] {
    color: transparent;
}

div[class="prf-actions"] button[class="js-action-unfollow action-text unfollow-text"]:before {
    content: "フォロー解除";
    font-size: 1em;
    color: #fff;
    position: relative;
    left: 0em;
}


div[class="js-show-this-thread"] p[class="color-twitter-blue txt-link txt-ellipsis link-complex-target margin-t--5"] {
    font-size: 0;
}

div[class="js-show-this-thread"] p[class="color-twitter-blue txt-link txt-ellipsis link-complex-target margin-t--5"] > a {
    font-size: initial;
}

div[class="js-show-this-thread"] p[class="color-twitter-blue txt-link txt-ellipsis link-complex-target margin-t--5"]:before {
    content: "このスレッドを開く";
    font-size: 12px;
    color: #1da1f2;
}

div[class="js-replies-before tweet-detail-reply"] div[class="js-stream-item js-cursor-top conversation-more stream-item is-actionable txt-link padding-v--10"] {
    font-size: 0;
}

div[class="js-replies-before tweet-detail-reply"] div[class="js-stream-item js-cursor-top conversation-more stream-item is-actionable txt-link padding-v--10"] > a {
    font-size: initial;
}

div[class="js-replies-before tweet-detail-reply"] div[class="js-stream-item js-cursor-top conversation-more stream-item is-actionable txt-link padding-v--10"]:before {
    content: "もっと見る";
    font-size: 12px;
    color: #1da1f2;
}

div[class="js-reply-info-container txt-size-variable--12 padding-h--10 padding-t--10"] div[class="other-replies txt-ellipsis"] {
    font-size: 0;
}

div[class="js-reply-info-container txt-size-variable--12 padding-h--10 padding-t--10"] div[class="other-replies txt-ellipsis"] > a {
    font-size: initial;
}

div[class="js-reply-info-container txt-size-variable--12 padding-h--10 padding-t--10"] div[class="other-replies txt-ellipsis"]:before {
    content: "返信先:";
    font-size: 12px;
    color: #8899a6;
}

/* 左はじツイート部分まわり */
button[class="js-send-button js-spinner-button js-show-tip Button--primary btn-extra-height padding-v--6 padding-h--12 is-disabled"]::after {
    content: "ツイート";
    font-size: 12px;
}

button[class="js-send-button js-spinner-button js-show-tip Button--primary btn-extra-height padding-v--6 padding-h--12 is-disabled"] {
    font-size: 0!important;
}

button[class="js-send-button js-spinner-button js-show-tip Button--primary btn-extra-height padding-v--6 padding-h--12"]::after {
    content: "ツイート";
    font-size: 12px;
}

button[class="js-send-button js-spinner-button js-show-tip Button--primary btn-extra-height padding-v--6 padding-h--12"] {
    font-size: 0!important;
}

span[class="js-account-safeguard-text"]::after {
    content: "本当にそのアカウントでいいの？";
    font-size: 14px;
    border-bottom: solid 1px #d6b90d;
    color: #d6b90d;
}

span[class="js-account-safeguard-text"] {
    font-size: 0!important;
}

h1[class="js-compose-title compose-title-text txt-ellipsis inline-block"]::after {
    content: "新しいツイート";
    font-size: 18px;
}

h1[class="js-compose-title compose-title-text txt-ellipsis inline-block"] {
    font-size: 0!important;
}

div[class="pull-left compose-text-title"]::after {
    content: "アカウントを選択";
    font-size: 14px;
}

div[class="pull-left compose-text-title"] {
    font-size: 0!important;
}

div[class="js-compose-message-header margin-b--9 compose-text-title"]::after {
    content: "本文";
    font-size: 14px;
}

div[class="js-compose-message-header margin-b--9 compose-text-title"] {
    font-size: 0!important;
}

span[class="js-add-image-button-label label padding-ls"]::after {
    content: "画像 / 動画を追加する";
    font-size: 14px;
}


span[class="js-add-image-button-label label padding-ls"] {
    font-size: 0!important;
}

span[class="js-schedule-button-label label padding-ls"]::after {
    content: "予約ツイート";
    font-size: 14px;
}


span[class="js-schedule-button-label label padding-ls"] {
    font-size: 0!important;
}

button[class="js-tweet-button btn btn-on-blue full-width txt-left margin-b--12 padding-v--6 padding-h--12"] > span[class="label padding-ls"]::after {
    content: "新しいツイート";
    font-size: 14px;
}

button[class="js-dm-button js-show-tip btn btn-on-blue full-width txt-left padding-v--6 padding-h--12 margin-b--12"] > span[class="label padding-ls"]::after {
    content: "新しいDM";
    font-size: 14px;
}

span[class="label padding-ls"] {
    font-size: 0!important;
}

label[class="checkbox checkbox-reversed compose-remember-state margin-a--15 txt-right"]::before {
    content: "開いたままにする";
    font-size: 14px;
}

label[class="checkbox checkbox-reversed compose-remember-state margin-a--15 txt-right"] {
    font-size: 0!important;
}

/* モーダル化 */
/* 開発停止中 */
/* div[class="js-app-columns app-columns horizontal-flow-container without-tweet-drag-handles"] { */
/* _twModal1 {
    position:fixed!important;
    left:-270px;
}
 */
/* div[class="js-drawer drawer"] { */
/* _twModal2 {
    position: fixed;
    left: 50%!important;
    transform: translate(-50%, 0%);
    z-index: 9999!important;
} */
/* RTモーダル */
button[class="js-action-button js-retweet-button Button--primary"]::after {
    content: "リツイート";
    font-size: 14px;
}

button[class="js-action-button js-retweet-button Button--primary"] {
    font-size: 0!important;
}

button[class="js-action-button btn btn-on-dark margin-r--8"]::after {
    content: "引用リツイート";
    font-size: 14px;
}

button[class="js-action-button btn btn-on-dark margin-r--8"] {
    font-size: 0!important;
}

/* 返信 */
button[class="js-send-button js-spinner-button js-show-tip Button--primary"]::after {
    content: "ツイート";
    font-size: 12px;
}

button[class="js-send-button js-spinner-button js-show-tip Button--primary"] {
    font-size: 0!important;
}

button[class="js-send-button js-spinner-button js-show-tip Button--primary is-disabled"]::after {
    content: "ツイート";
    font-size: 12px;
}

button[class="js-send-button js-spinner-button js-show-tip Button--primary is-disabled"] {
    font-size: 0!important;
}

/* 設定周り */
#settings-modal > div > div > footer > button > span::after {
    content: "完了";
    font-size: 14px;
}

#settings-modal > div > div > footer > button > span {
    font-size: 0!important;
}

/* 左のツールバーのボタンをスクロールできるようにして、行追加ボタンが隠れないようになる */
#column-navigator > div {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 60px);
    scrollbar-width: none!important;
}

/* 通知領域のレイアウト修正 */
div[class="activity-header has-source-avatar flex flex-align--baseline"] {
    display: grid !important;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: start;
}

/* nth-child(1)を左上に配置 */
div[class="activity-header has-source-avatar flex flex-align--baseline"] > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* nth-child(2)を右上に配置 */
div[class="activity-header has-source-avatar flex flex-align--baseline"] > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-row-gap: 4px;
}

/* nth-child(3)を右下に配置 */
div[class="activity-header has-source-avatar flex flex-align--baseline"] > time:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-row-gap: 4px;
}

/* end */
/* 日付レイアウト修正 */
header[class="tweet-header js-tweet-header flex flex-row flex-align--baseline"] {
    display: flex!important;
    flex-direction: column!important;
}
